node_modules
build
build.bak
server/common/build.info.js
.env
.idea
.vscode
/.project
/nbproject/private/
.history
.eslintcache

.DS_Store
nbproject/*
server/.DS_Store
server/api/.DS_Store
/npm_db_2*.log
.envrc
shell.nix
